---
import Button from "./Button.astro"
import DownloadIcon from "./icons/DownloadIcon.astro"
import { Image } from "astro:assets"


function calculateAge(){

  let today = new Date()
  let birthday = new Date('2000-03-31')
  let age = today.getFullYear() - birthday.getFullYear()
  let month = today.getMonth() - birthday.getMonth()

  if (month < 0 || (month === 0 && today.getDate() < birthday.getDate())) {
    age--;
  }

  return  age;
}

const age = calculateAge()

---

<section id="about" class="max-w-5xl mx-auto scroll-m-20">
  <h2 class="text-2xl font-geist font-light mb-14">Acerca de mi</h2>
  <div class="flex flex-col md:flex-row items-center md:items-start lg:justify-between gap-10">
    <Image
      width="200"
      height="200"
      src="/assets/Sergio gamero.webp"
      alt="Sergio Gamero"
      class="md:order-2 rounded-xl size-48 lg:size-52 object-cover object-top border border-neutral-500"
    />
    <div class="flex flex-col gap-6 flex-1 lg:flex-none lg:w-[40rem] text-gray-400">
      <div class="flex flex-col gap-3 text-pretty">
        <p>
          Aunque mi nombre es Sergio la mayoría de las personas me llama Andre
          (mi segundo nombre), tengo {age} años y estudié Ingenieria de Sistemas,
          donde empecé programando aplicaciones móviles y videojuegos.
        </p>
        <p>
          Soy una persona autodidacta con una sólida base en Desarrollo web y
          Diseño UI, <strong class="font-normal text-[#7a9cfa]"
            >mi objetivo es colaborar en proyectos desafiantes que me permitan
            expandir mis habilidades y me ayuden a mejorar constantemente.
          </strong>
        </p>
        <p>
          En mi tiempo libre me gusta explorar nuevas tecnologías y dedicarme a
          mis hobbies: los autos, el fitness y los videojuegos.
        </p>
      </div>
      <Button
        href="https://drive.google.com/file/d/192fziXEWKEkvBCAenznAjY9ze5M0hQOj/view"
        type="primary"
      >
        Curriculum
        <DownloadIcon />
      </Button>
    </div>
  </div>
</section>
