---
const { type } = Astro.props

const variants = {
  primary:
    "animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]",
  secondary: "bg-white"
}
---

<a
  {...Astro.props}
  target="_blank"
  rel="noreferrer"
  role="link"
  class="relative lg:self-start inline-flex overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50"
>
  <span class:list={["absolute inset-[-1000%]", variants[type]]}></span>
  <span
    class="inline-flex w-full items-center justify-center gap-2 rounded-full bg-black transition-opacity px-8 py-2 text-sm font-medium text-gray-50 backdrop-blur-3xl"
  >
    <slot />
  </span>
</a>
