<footer class="border-t border-neutral-700 max-w-5xl mx-auto py-4 px-4 lg:px-0">
  <nav aria-label="footer-nav" class="flex justify-between text-neutral-500">
    <span>Sergio Gamero</span>
    <ul class="flex gap-5">
      <li>
        <a href="/#" class="hover:text-portage transition-colors">Inicio</a>
      </li>
      <li>
        <a
          href="https://t.me/sergiogamero"
          target="_blank"
          rel="noreferrer"
          class="hover:text-portage transition-colors">Contacto</a
        >
      </li>
    </ul>
  </nav>
</footer>
