<header class="p-6">
    <nav class="flex justify-center gap-5 font-medium text-neutral-300">
        <a class="hover:text-teal-200 transition-colors cursor-pointer">Inicio</a>
        <a class="hover:text-teal-200 transition-colors cursor-pointer">Acerca de mi</a>
        <a class="hover:text-teal-200 transition-colors cursor-pointer">Proyectos</a>
    </nav>
</header>