---
import Button from "../components/Button.astro"
import TelegramIcon from "../components/icons/TelegramIcon.astro"
import LinkedinIcon from "../components/icons/LinkedInIcon.astro"
---

<section class="flex flex-col justify-center gap-8 max-w-5xl mx-auto h-[80vh]">
  <h1
    class="text-5xl md:text-5xl lg:text-7xl font-geist font-extralight text-balance"
  >
     <strong
      class="font-extralight text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-purple-400"
      >Sergio Gamero</strong
    >
    Desarrollador Frontend
  </h1>
  <p class="lg:text-lg text-gray-400">
    Disfruto de crear experiencias de usuario excepcionales y elegantes.
  </p>
  <div class="flex gap-3 items-center">
    <Button href="https://t.me/sergiogamero" type="primary">
      Contáctame
      <TelegramIcon />
    </Button>
    <Button href="https://www.linkedin.com/in/sergio-gamero/" type="secondary">
      <LinkedinIcon />
      LinkedIn
    </Button>
  </div>
</section>
